.cont {
    display: flex;
    justify-content: center;
    align-items: center;

}

.form_container {
    position: relative;
    width: 90%;
    height: 40vh;
    border: 1px solid black;
}

.yes {
    margin: auto;
}

.no {
    position: absolute;

}

.btn-cont {
    border: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}