h1 {
    color: black
}

.main_div {
    margin: 0px;
    border: solid black 1px;
    background-image: url(src\assets\images\bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    justify-content: center; /* centra horizontalmente */
    align-items: center; 
}
