h1 {
    color: black
}

.main_div {
    margin: 0px;
    border: none;
    border-bottom: none;
    background-image: url(src\assets\images\bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    justify-content: center; /* centra horizontalmente */
    align-items: center; 
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 5em;
    color: rgb(255, 254, 254);
    text-shadow: black 0.1em 0.1em 0.2em
}